@{ ViewBag.Title = "成绩处理系统 - 登录";
    Layout = "~/Views/Shared/_Layout.cshtml"; }
@section header{
    <link href='@Url.Content("~/mystyle/css/login.css")' rel="stylesheet" />
    <script>if (window.top !== window.self) { window.top.location = window.location };</script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/mystyle/js/yisha.js"></script>
}
<div class="login-panel">
    <div class="row section">
        <div class="col-sm-12">
            <form id="form">
                <h4 class="no-margin">登录：</h4>

                <input id="userName" name="userName" class="form-control uname" col="UserName" type="text" placeholder="用户名" value="@ViewBag.UserName" />
                <input id="password" name="password" class="form-control pword m-b" col="Password" type="password" placeholder="密码" value="@ViewBag.Password" />


                <button class="btn btn-success btn-block" onclick="loginForm(); return false;">登录</button>
            </form>
        </div>
    </div>
    <div class="login-footer">
        <div style="text-align:center">
            &copy; 2020-@DateTime.Now.Year <a href="http://www.hldcsports.com/" target="_blank" style="color:white">华力动彩</a> All Rights Reserved.<br>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {


        if (!ys.isNullOrEmpty($.cookie('UserToken'))) {
            redirectToIndex();
        }



        $("#form").validate({
            rules: {
                userName: { required: true },
                password: { required: true }
            }
        });

        $.validator.setDefaults({
            submitHandler: function () {
                loginForm();
            }
        });
    });

    function loginForm() {
      //  if ($("#form").validate().form()) {
            var postData = $("#form").getWebControls();
        $.ajax({
                url: "/Home/LoginJson",
                type: "post",
            data: postData,
            dataType:  "json",
            success: function (obj) {
                console.log(obj)
                    if (obj.Tag == 1) {
                        ys.msgSuccess(obj.Message);
                        redirectToIndex();
                    }
                    else {
                        ys.msgError(obj.Message);
                    }
                }
            });
      //  }
    }

    function redirectToIndex() {
        location.href = '@Url.Content("~/Home/Index")';
    }
</script>